.clanak1{
    color: aqua;
    margin: 5px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid blue;

}
.clanak2{
    color: aqua;
    margin: 5px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid blue;
    
}
.clanak3{
    color: aqua;
    margin: 5px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid blue;
    
}